.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.checkbox-container {
  width: 370px;
  height: 326px;
  
  border: 1px solid #d1d5db;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  width: 330px;
  height: 42px;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 10px;
}

.checkbox-list {
  margin-top: 12px;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  width: 330px;
  height: 42px;
}

.span-title{
  align-self: center;
}
.checkbox-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  
  color: #374151;
}

.checkbox-input {
  width: 23px;
  height: 23px;
  cursor: pointer;
  
}


.done-button {
  width: 100%;
  background-color: #FFCE22;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  margin: 15px;
  width: 340px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.done-button:hover {
  background-color: #FFD84D;
}




.checkbox {
  appearance: none;
  width: 23px;
  height: 23px;
  background-color: white;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
 
}



.checkbox:hover {
  background-color: white;
  border-color: #BDBDBD;
  background-image: url('assets/check.svg');
}

.checkbox:active  {
  background-color: #5087F8;
  border-color: #5087F8;
  border-width: 12px;
  background-image: url('assets/checkblack.svg');
  opacity: 1;
  box-shadow: 0 0 5px rgba(36, 105, 246, 1.1); /* Shadow with color #2469F6 at 10% opacity */
}

.checkbox:checked {
  background-color: #2469F6;
  border-color: #2469F6;
  background-image: url('assets/checkwhite.svg');
}
